* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/**************Header*************/
#topo {
    background-color: cadetblue ;
}
#menu {
    background-color: cornflowerblue;
}
.destaques {
    background-color: dodgerblue;
}
#rodape {
    background-color: lightseagreen;
}

